.dwarf {
    width: 1280px;
}

.dwarf {
    line-height:1.5
}

.dwarf {
    border: 3px solid black
}

.main {
    text-align: center;
}

.main {
    border: 3px solid black
}       

.dragonborn {
    width: 1280px;
}

.dragonborn {
    line-height:1.5
}

.dragonborn {
    border: 3px solid black
}

.elf {
    width: 1280px;
}

.elf {
    line-height:1.5
}

.elf {
    border: 3px solid black
}

.gnome {
    width: 1280px;
}

.gnome {
    line-height:1.5
}

.gnome {
    border: 3px solid black
}
.half-elf {
    width: 1280px;
}

.half-elf {
    line-height:1.5
}

.half-elf {
    border: 3px solid black
}
.half-orc {
    width: 1280px;
}

.half-orc {
    line-height:1.5
}

.half-orc {
    border: 3px solid black
}

.halfling {
    width: 1280px;
}

.halfling {
    line-height:1.5
}

.halfling {
    border: 3px solid black
}

.Human {
    width: 1280px;
}

.Human {
    line-height:1.5
}

.Human {
    border: 3px solid black
}

.Tiefling {
    width: 1280px;
}

.Tiefling {
    line-height:1.5
}

.Tiefling {
    border: 3px solid black
}